<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app1">
      <h1>{{title}}</h1>
      <button v-on:click="show">Show paragraph</button>
      <p v-if="showParagraph">
          This is not always seen
      </p>
    </div>
    <div id="app2">
      <h1>{{title}}</h1>
      <button v-on:click="show">Show paragraph</button>
      <p v-if="showParagraph">
          This is not always seen
      </p>
    </div>
    <script type="text/javascript">
      new Vue({
        el: '#app1',
        data: {
          title: "The VueJS Instance",
          showParagraph: false,
        },
        methods: {
          show: function() {
            this.showParagraph = !this.showParagraph;
            this.updateTitle("Updated Title")
          },
          updateTitle: function(title){
            this.title = title;
          },
        },
      });

      new Vue({
        el: "#app2",
        date: {
          title: "The second instance",
        }
      });
    </script>
  </body>
</html>
